@import "bootstrap-sprockets";
@import "bootstrap";

select{
  @extend .form-control;
}


.my_table{
  @extend .table-striped;
  @extend .table-hover;
  @extend .table;
  font-size: 16px;
}

table{
  @extend .my_table;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(0,0,35,0.2);
}

input[type=text],
input[type=email],
input[type=password]{
	height: 50px;
}

button{
  height: 50px;
}
label{
	margin-top: 20px;
}


.navbar-default .navbar-brand {
	font-size: 36px;
  color: #74c7d5;
  font-weight: 400;
}

.navbar-brand{
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
.navbar {
	background-color: white;
  margin:0;
  border-radius:0;
}

.navbar-default .navbar-nav > li > a {
    color: #74c7d5;
}

